.img-cover {
	background-image: url("img/bg3.jpeg");
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

h1 {
	font-family: "Fira Code", monospace;
}

.page {
	min-height: 100vh;
	max-width: 100%;
	padding: 80px 10px;
}

.page-2 {
	/* background-color: black; */
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(11, 20, 19, 1) 55%, rgba(22, 40, 39, 1) 100%);
	color: white;
}

.page-3 {
	background: rgb(71, 71, 71);
	background: linear-gradient(0deg, rgba(71, 71, 71, 1) 0%, rgba(22, 40, 39, 1) 100%);
}
a,
a:hover {
	text-decoration: none;
	color: white;
	transition-duration: 0.3s;
}

a:hover {
	color: rgb(47, 152, 170);
}

.icons {
	margin-top: 40px;
}
.icons > * {
	margin: 20px;
}

.navbar.scrolled {
	background-color: rgba(58, 104, 96, 0.664);
	transition: background-color 0.5s linear;
}

.navbar {
	transition: background-color 0.5s linear;
}

.code {
	color: rgb(79, 224, 224);
}

.code-text {
	color: orange;
}

form {
	padding: 40px;
	border-radius: 30px;
	background-color: rgb(46, 46, 46);
	max-width: 500px;
	margin: 50px auto;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

.contact-input {
	/* color: white; */
	color: orange;
	font-family: "Fira Code", monospace;
	font-weight: 500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border: 2px solid orange;
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	outline: 0;
}

.contact-input:focus {
	border: 2px solid cyan;
}

textarea {
	min-height: 300px;
	line-height: 150%;
	resize: vertical;
}

[type="submit"] {
	font-family: "Fira Code", monospace;
	width: 100%;
	background: darkcyan;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	color: white;
	letter-spacing: 2px;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 700;
}
[type="submit"]:hover {
	background: brown;
}

.head {
	width: 300px;
	height: 100px;
	background-color: green;
	padding: 0;
}

.body {
	/* width: 150px !important; */
	height: 100px;
	background-color: blue;
	padding: 0;
}

.row1 {
	width: 300px;
}

.project-card {
	background-color: rgba(114, 111, 88, 0.822);
	padding: 20px;
	color: white;
	/* background: radial-gradient(circle, rgba(27, 139, 152, 1) 0%, rgba(2, 0, 36, 1) 100%); */
	width: 300px;
	min-height: 500px;
	margin: 10px auto;
	/* border-radius: 30px; */
}

.live-button {
	background-color: rgb(197, 150, 62);
	border-radius: 30px;
	padding: 10px;
	min-width: 150px;
}

.code-button {
	background-color: rgb(221, 207, 163);
	border-radius: 30px;
	padding: 10px;
	min-width: 100px;
}

.page-4 {
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 251, 241, 1) 100%);
}

.img-container {
	width: 300px;
	height: 100px;
	overflow: hidden;
}

.img-hover {
	transition: transform 0.5s ease;
}

.img-hover:hover {
	transform: scale(1.5);
}
